{% extends "base.html" %}
{% block titulo %} Crear cliente {% endblock %}
{% block contenido %}
<br/><br/>

<div class="card">
    <div class="card-header">
        Cliente
    </div>
    <div class="card-body">
        <h4 class="card-title">Inserte datos</h4>

        <form method="POST">
            {% csrf_token %}
            {% if data %}
            <div class="mb-3">
              <label for="" class="form-label">RUC</label>
              <input type="text" class="form-control" name="cliente_ruc" id="numero_identificacion" aria-describedby="helpId" maxlength="11" pattern="[0-9]{11}" placeholder="Ejemplo: 12345678910" value="{{data.0.0}}" readonly>
              <small id="helpId" class="form-text text-muted">(!) Solo se permiten números</small>
            </div>
            

            <div class="mb-3">
              <label for="" class="form-label">Razón</label>
              <input type="text" class="form-control" name="cliente_razon" id="caracteres" aria-describedby="helpId" placeholder="Ejemplo: Umbrella S.A." pattern='[a-zA-Z0-9\s\.\,\"]+' maxlength="100" value="{{data.0.1}}" required>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) No usar caracteres especiales</small>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Únicos caracteres permitidos: (") (,) (.)</small>
            </div>
            

            <div class="mb-3">
              <label for="" class="form-label">Dirección</label>
              <input type="text" class="form-control" name="cliente_direccion" id="caracteres1" aria-describedby="helpId" placeholder="Ejemplo: Los Girasoles A-22 Mariano Melgar" pattern="[a-zA-Z0-9\s\.\,\-\"]+" maxlength="150" value="{{data.0.2}}" required>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) No usar caracteres especiales</small>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Únicos caracteres permitidos: (") (,) (.) (-)</small>
            </div>
            

            <div class="mb-3">
              <label for="" class="form-label">Celular</label>
              <input type="text" class="form-control" name="cliente_telefono" id="celular" aria-describedby="helpId" placeholder="Ejemplo: 999888777" pattern="[0-9]{9}" maxlength="9" value="{{data.0.3}}" required>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Únicamente valores numéricos</small>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Inserte valores de 9 dígitos</small>
            </div>
            

            <div class="mb-3">
              <label for="" class="form-label">Email</label>
              <input type="email" class="form-control" name="cliente_email" id="correo" aria-describedby="helpId" placeholder="Ejemplo: correo.electronico@hotmail.com" maxlength="50" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" value="{{data.0.4}}" required>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Únicamente correos electrónicos</small>
            </div>
            
            
            <div class="justify-content-center">
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <a name="" id="" class="btn btn-danger" href="{% url 'clientes' %}" role="button">Cancelar</a>
            </div>

            {% else %}
            <div class="mb-3">
              <label for="" class="form-label">RUC</label>
              <input type="text" class="form-control" name="cliente_ruc" id="numero_identificacion" aria-describedby="helpId" maxlength="11" pattern="\d{11}" placeholder="Ejemplo: 12345678910" required>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Únicamente valores numéricos</small>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Inserte valores de 11 dígitos</small>
            </div>
            

            <div class="mb-3">
              <label for="" class="form-label">Razón</label>
              <input type="text" class="form-control" name="cliente_razon" id="caracteres" aria-describedby="helpId" placeholder="Ejemplo: Umbrella S.A." pattern="[a-zA-Z0-9\s.,:\;&quot;-]+" maxlength="100" required>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) No usar caracteres especiales</small>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Únicos caracteres permitidos: (") (,) (.)</small>
            </div>
            
            <div class="mb-3">
              <label for="" class="form-label">Dirección</label>
              <input type="text" class="form-control" name="cliente_direccion" id="caracteres1" aria-describedby="helpId" placeholder="Ejemplo: Los Girasoles A-22 Mariano Melgar" maxlength="150" pattern="[a-zA-Z0-9\s.,:\;&quot;-]+" required>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) No usar caracteres especiales</small>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Únicos caracteres permitidos: (") (,) (.) (-)</small>
            </div>
            

            <div class="mb-3">
              <label for="" class="form-label">Celular</label>
              <input type="text" class="form-control" name="cliente_telefono" id="celular" aria-describedby="helpId" placeholder="Ejemplo: 999888777" pattern="\d{9}" maxlength="9" required>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Únicamente valores numéricos</small>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Inserte valores de 9 dígitos</small>
            </div>
            

            <div class="mb-3">
              <label for="" class="form-label">Email</label>
              <input type="email" class="form-control" name="cliente_email" id="correo" aria-describedby="helpId" placeholder="Ejemplo: correo.electronico@hotmail.com" maxlength="50" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Únicamente correos electrónicos</small>
            </div>
            
            
            <div class="justify-content-center">
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <a name="" id="" class="btn btn-danger" href="{% url 'clientes' %}" role="button">Cancelar</a>
            </div>
            {% endif %}
        </form>

    </div>
    <div class="card-footer text-muted">
    </div>
</div>
{% endblock %}