{% extends "base.html" %}
{% block titulo %} Insertar Factura {% endblock %}
{% block contenido %}
<br/><br/>

<div class="card">
    <div class="card-header">
        Insertar Factura
    </div>
    <div class="card-body">
        <h4 class="card-title">Inserte datos de factura</h4>

        <form method="POST">
            {% csrf_token %}
            {% if data %}
            <div class="mb-3">
              <label for="" class="form-label">Ruc</label>
              <input type="text"
                class="form-control" name="ruc" id="sin-caracteres-especiales" pattern="[A-Za-z0-9\s]+" aria-describedby="helpId" maxlength="25" placeholder="Ejemplo: 12345678444" value="{{data.0.1}}" required>                  
              <small id="helpId" class="form-text text-muted">(!) No usar caracteres especiales</small>
            </div>

          <div class="mb-3">
              <label for="" class="form-label">Fecha</label>
              <input type="date"
                class="form-control" name="producto_precio" id="" aria-describedby="helpId" placeholder="Ejemplo: 25.50" step="0.01" min="0" pattern="[0-9]+([.][0-9]{0,2})?" maxlength="5" value="{{data.0.2}}" required>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Insertar valores de coma flotante</small>
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Máximo 2 decimales</small>
          </div>

          <div class="mb-3">
              <label for="" class="form-label">Stock</label>
              <input type="number"
                class="form-control" name="producto_stock" id="num-entero" aria-describedby="helpId" placeholder="Ejemplo: 150" maxlength="6" step="1" min="0" oninput="validarNumeroEntero(event)" value="{{data.0.3}}" required>
              
                <script>
                  var numEntero = document.getElementById("num-entero");

                  numEntero.addEventListener("input", function() {
                  if (numEntero.value.length > 5) {
                      numEntero.value = numEntero.value.slice(0, 5); // Limita la cantidad de dígitos numéricos a 7
                  }
                  });

                  function validarNumeroEntero(event) {
                  const input = event.target;
                  const valor = input.value.trim();
                  
                  // Reemplazamos cualquier punto decimal por una cadena vacía
                  const valorEntero = valor.replace(".", "");
                  
                  // Validamos que el valor ingresado sea un número entero positivo
                  if (/^[0-9]*$/.test(valorEntero) && Number(valorEntero) >= 0) {
                      // Si el valor es válido, lo dejamos tal cual
                      input.value = valorEntero;
                  } else {
                      // Si el valor no es válido, borramos el último caracter ingresado
                      input.value = valor.slice(0, -1);
                  }
                  }
                </script>

              <small id="helpId" class="form-text text-muted">(!) Sólo valores numéricos</small>
          </div>

          <div class="mb-3">
              <label for="" class="form-label">Categoria</label>
              <select class="form-select" aria-label="Default select example" name="producto_categoria" value="{{data.0.4}}">
                <option selected value="{{data.0.4}}">{{data.0.5}}</option>
                <option value="{{categoria.0.0}}">{{categoria.0.1}}</option>
                <option value="{{categoria.1.0}}">{{categoria.1.1}}</option>
                <option value="{{categoria.2.0}}">{{categoria.2.1}}</option>
              </select>

              <small id="helpId" class="form-text text-muted">(!) Despliegue la lista para ver las categorías</small>
          </div>

          <div class="justify-content-center">
              <button type="submit" class="btn btn-primary">Ingresar</button>
              <a name="" id="" class="btn btn-danger" href="{% url 'facturas' %}" role="button">Cancelar</a>
          </div>
            {% else %}
            <div class="mb-3">
              <label for="cliente" class="form-label">Cliente</label>
              <input type="text" class="form-control" name="cliente" id="cliente" pattern="[A-Za-zÀ-ÿ0-9\s.,:;-]+" aria-describedby="helpId" maxlength="25" placeholder="Búsqueda de Cliente" required>
              <script>
                const input = document.getElementById('cliente');
                input.addEventListener('input', function() {
                this.value = this.value.replace(/[^\w\s\.\,\&\"]/gi, ''); // Remover caracteres no permitidos
                });
              </script>
              <select class="form-select text-muted" aria-label="Default select example" name="ruc" id="ruc">
                {% for r in ruc %}
                <option value="{{ r.0 }}">{{ r.1 }}</option>
                {% endfor %}
              </select>
              <small id="helpId" class="form-text text-muted">(!) No usar caracteres especiales</small>
              
              <script>
                  const clienteInput = document.querySelector('#cliente');
                  const clienteSelect = document.querySelector('#ruc');
                  const options = clienteSelect.options;   
                  console.log (clienteInput);     
                  let selectedIndex = -1; // inicializa el índice seleccionado en -1         
                  clienteInput.addEventListener('input', () => {
                      const value = clienteInput.value.toLowerCase();
                      selectedIndex = -1; // reinicializa el índice seleccionado en cada input
                      for (let i = 0; i < options.length; i++) {
                          const option = options[i];
                          const text = option.text.toLowerCase();
                          if (text.includes(value)) {
                              option.style.display = '';
                              if (selectedIndex === -1) {
                                  selectedIndex = i;
                              }
                          } else {
                              option.style.display = 'none';
                          }
                      }
                      if (selectedIndex !== -1) {
                          clienteSelect.selectedIndex = selectedIndex;
                          clienteSelect.classList.remove('text-muted'); //remueve la clase que lo hace gris
                      } else {
                          clienteSelect.classList.add('text-muted'); //si no encuentra nada lo pone gris
                      }
                  });
          
                  clienteSelect.addEventListener('change', () => {
                      selectedIndex = clienteSelect.selectedIndex; // actualiza el índice seleccionado
                      clienteInput.value = clienteSelect.options[selectedIndex].text; // actualiza el valor del input con el valor seleccionado
                  });
                  
              </script>
            </div>
            
            <div class="mb-3">
              <label for="" class="form-label">Fecha</label>
              <input type="date" class="form-control" id="" name="fecha" date-format="yyyy-mm-dd" max="9999-12-29" value="2023-05-07">
              <small id="helpId" class="form-text text-muted" style="display: block;">(!) Formato MM-DD-AAAA</small>
            </div>
            
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                  <h4 class=" title-detalle">Detalle de Factura</h4>
                  <button class="btn btn-success align-self-end" id="btn-add-row">Añadir Producto</button>
              </div>
              <table class="table" id="table-detalle">
                  <thead>
                      <tr>
                          <th scope="col">Cantidad</th>
                          <th scope="col">Descripción</th>
                          <th scope="col"></th>
                      </tr>
                  </thead>

                  <tbody>

                  </tbody>
              </table>
              <script>
                // Obtener la tabla y el botón para agregar filas
                const tabla = document.querySelector('#table-detalle');
                const botonAgregarFila = document.querySelector('#btn-add-row');

                // Función para crear una nueva fila con los inputs de cantidad y producto
                function crearFila() {
                  // Crear una nueva fila
                  const nuevaFila = document.createElement('tr');

                  // Agregar las celdas de cantidad y producto
                  nuevaFila.innerHTML = `
                    <td>
                      <input type="text" class="form-control" name="cantidad[]" maxlength="3" required>
                    </td>
                    <td>
                      <select class="form-select text-muted" name="id_producto[]">
                        {% for r in id_producto %}
                        <option value="{{ r.0 }}">{{ r.1 }} | Precio Unitario: {{r.2}}</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                      <button class="btn btn-succes" type="button">Eliminar</button>
                    </td>
                    <script></<script>
                  `;

                  // Agregar la nueva fila a la tabla
                  tabla.appendChild(nuevaFila);

                  // Obtener el botón para eliminar la fila y agregar un evento de click
                  const botonEliminarFila = nuevaFila.querySelector('button');
                  botonEliminarFila.addEventListener('click', () => {
                    nuevaFila.remove();
                  });
                }

                // Agregar un evento de click al botón para agregar filas
                botonAgregarFila.addEventListener('click', crearFila);
              </script>
            </div>
            <div class="justify-content-center">
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <a name="" id="" class="btn btn-danger" href="{% url 'facturas' %}" role="button">Cancelar</a>
            </div>
            {% endif %}
        </form>

    </div>
    <div class="card-footer text-muted">
    </div>

    <style> 
      .title-detalle{
        margin-top: 2rem
      };
    </style>
</div>
{% endblock %}