{% extends "base.html" %}
{% block titulo %} Facturas {% endblock %}
{% block contenido %}

<br/>
<br/>

<div style= "margin-top: 30px;" class="container">
        
        <div class="d-flex mb-3">
            <div class="flex-fill" style="border: 1px solid black; border-radius: 10px; padding: 10px;">
                <p class="h2"> FARMACIA LAS ANTENAS</p>
                <p class="h5"> Calle San Juan 456 - Arequipa</p>
                <p class="h6"> RUC: 20123456789</p>
            </div>
            <div class="flex-fill" style="border: 1px solid black; border-radius: 10px; padding: 10px">
                <label class="h2" for="nombre"><h4>FACTURA ELECTRONICA</h3></label>
                <p>Nro: {{data.0.0}}</p>
            </div>   
            <hr>
        </div>
        <div class="d-flex mb-3" style="display: flex;">
            <div class="flex-fill ">
                <p class="h6"><br> <b>FECHA DE EMISION:</b><br></p>
                <p>{{data.0.1}}</p>                
            </div>
            <div class=" flex-fill ">
                <p><br><b>RAZON SOCIAL:</b><br></p>
                <p>{{data.0.2}}</p>
            </div>
            <div class=" flex-fill">
                <p class="h6"><br><b>RUC </b><br></p>
                <p>{{data.0.3}}</p>
            </div>
            <div class=" flex-fill">
                <p class="h6"><br><b>Tipo de Moneda</b> <br></p>
                <p>SOLES</p>
            </div>
        </div>
        <div>
            <p class="h6"><br><b>DIRECCION</b> <br></p>
                <p>{{data.0.7}}</p>
        </div>
        <div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in nuevos_datos %}
                    <tr class="">
                        <td scope="row">{{ row.4 }}</td>
                        <td>{{ row.5 }}</td>
                        <td>{{ row.6 }}</td>
                        <td>{{row.7}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div class="d-flex mb-3 align-self-end">
            <div class="flex-fill "></div>
            <div class=" flex-fill "></div>
            <div class=" flex-fill">
                <p><b>Total valor venta </b> S/ {{suma_total_venta}}</p>
                <p><b>Descuento </b> S/ {{suma_total_descuento}}</p>
                <p><b>Total IGV (18%) </b> S/ {{suma_total_igv}}</p>
                <p><b>Importe total </b> S/ {{suma_importe_total}}</p>
            </div>
        </div>
        <br>
        <div class="d-flex mb-3">
            <div class="flex-fill "></div>
            <div class=" flex-fill ">

                <form method="POST" action="{% url 'print_fact' %}">
                {% csrf_token %}
                    <button type="submit" class="btn btn-success">Emitir factura</button>
                    <a name="" id="" class="btn btn-danger" href="{%url 'facturas'%}" role="button">Volver</a>
                </form>                
            </div>
            <div class=" flex-fill"></div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}